@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: #0f0f0f;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* ----------------------------------
   GENERAL STYLING
---------------------------------- */

h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
    line-height: 1.2;
}
p {
    font-family: "Geist Mono";
    font-weight: 400;
    font-size: 0.85;
}

a, p {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

a {
    cursor: pointer;
}

/* ----------------------------------
   NAV + LOGO
---------------------------------- */
.logo-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 3;
}

.logo {
  border: 1px solid rgba(255,255,255, 0.1);
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 0.5rem 1rem;
}

.logo p {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #fff;
  font-family: "Geist Mono";
  font-weight: 400;
  line-height: 1.35;
}

.menu-toggle {
  position: relative;
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
}

.menu-toggle p{
  position: absolute;
  transform-origin: top left;
  will-change: transform, opacity;
} 

.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100svh; 
  background-color: #0e101f;
  /* background-color: #242321bd; */
  z-index: 1; 
}

.menu-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transform-origin: left bottom;
  will-change: transform, opacity;
}

.menu-items {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  gap: 2.5em;
}

.col-lg {
  flex: 3;
}

.col-sm {
  flex: 2;
}

.menu-items .col-lg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-preview-img {
  position: relative;
  width: 45%;
  height: 100%;
  overflow: hidden;
}

.menu-preview-img img {
  position: absolute;
  will-change: transform, opacity;
}

.menu-items .col-sm {
  padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.menu-links, 
.menu-socials {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.link, .social {
  padding-bottom: 6px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.link a, 
.social a{
  display: inline-block;
  will-change: transform;
  transition: color 0.5s;
}

.link a {
  font-size: 3.5rem;
  letter-spacing: -0.02rem;
}

.social a {
  font-size: 1.5rem;
  color: #f5cece;
}

.social a:hover {
  color: #fff;
}

.link a::after,
.social a::after {
  position:absolute;
  content: " ";
  top: 102.5%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

.link a:hover::after,
.social a:hover::after{
  transform: scaleX(1);
  transform-origin: right;
} 

.menu-toggle p#menu-close {
  opacity: 0;
  transform: translateX(-5px) translateY(10px) rotate(5deg);
}

.link a,
.social a{
  transform: translateY(120%);
  opacity: 0.25;
}

.menu-content {
  transform: translateX(-100px) translateY(-100px) scale(1.5) rotate(-15deg);
  opacity: 0;
}

.menu-overlay {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

/* ----------------------------------
   PROJECT DETAILS/CONTENT
---------------------------------- */
.project-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 8rem;
    gap: 4rem;
    margin-top: 6%;
    
}
.project-info {
    flex: 1.2;
    text-align: left;

}
.project-info h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    color: #fff;
}
.project-info h4 {
    font-size: 1.1rem;
    color: #bbb;
    margin-bottom: 1.5rem;
}
.project-info p {
    font-size: 0.9rem;
    line-height: 1.3;
    color: #ddd;
    max-width: 550px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 200vh;
  padding-top: 6rem;
}

.container h1 {
  color: #fff;
  margin-bottom: 0.7rem;
  /* margin-top: 4%; */
  text-align: center;
  padding: 1rem;
}

.cards {
  position: relative;
  width: 500px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 685px;
  height: 340px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  transform-origin: center center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spacer {
  height: 150vh;
}

.project-tech {
    flex: 0.8;
    text-align: left;
    margin-top: 5%;
}
.project-tech hr {
    width: 80px;
    border: 1px solid #fff;
    margin-bottom: 1rem;
}
.project-tech h5 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: #aaa;
}
.project-tech p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #ccc;
    margin-bottom: 2rem;
    width: 500px;
}
.visit-btn {
    display: inline-block;
    background: #333;
    padding: 0.9rem 1.8rem;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;
}
.visit-btn:hover {
    background: #fff;
    color: #000;
}
.visit-btn-github {
    display: inline-block;
    background: #fff;
    padding: 0.9rem 1.8rem;
    color: #000;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;
}
.visit-btn-github:hover {
    background: #333;
    color: #fff;
}

.back-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 70px;
    height: 50px;
    color: #000;
    background-color: #fff;
    border-radius: 55px;
    margin-left: 2.5%;   
}

/* ----------------------------------
   FOOTER
---------------------------------- */
footer {
    position: fixed;
    bottom: 1rem;
    left: 3rem;
    font-size: 0.8rem;
    color: #999;
}

/* ----------------------------------
   RESPONSIVE
---------------------------------- */

@media (max-width: 1450px) {
  .cards {
    width: 500px;
    height: 330px;
  }
  .card {
    width: 500px;
    height: 320px;
  }
  nav { padding: 1rem; }
  .nav-links, .btn  { display: none; }
}

@media (max-width: 1000px) {
  .cards {
    width: 400px;
    height: 270px;
    }
  .card {
    width: 400px;
    height: 260px;
    }

  .project-details {
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    }
  .project-info {
    text-align: center;
    }
  .project-info h2 {
    font-size: 2rem;
    }
  .menu-items .col-lg { display: none;}
  .link a::after,
  .social a::after { display: none;}
}

@media (max-width: 600px) {
  .cards {
    width: 300px;
    height: 200px;
    }
  .card {
    width: 300px;
    height: 190px;
    }

  body { font-size: 14px; }
  h1 { font-size: 1.5rem; }
  .project-info p, 
  .project-tech p { 
    font-size: 0.8rem; 
    }
  .project-tech {
    margin-left: 9%;
  }
  footer { 
    left: 1rem; 
    bottom: 0.5rem; 
    font-size: 0.7rem; 
    }
  .visit-btn, 
  .visit-btn-github { 
    padding: 0.8rem 1.4rem; 
    font-size: 0.85rem; 
    }
}