@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    background-color: #0f0f0f;
}

/* ----------------------------------
   GENERAL STYLING
---------------------------------- */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1;
}

h1 span {
  font-family: "Geist Mono", "PP Neue Montreal";
  font-weight: 500;
  /* font-style: italic; */
  -webkit-font-smoothing: antialiased;
}

a, p {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

a {
  cursor: pointer;
}

/* ----------------------------------
   NAV + LOGO
---------------------------------- */
.logo-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 3;
}

.logo {
  border: 1px solid rgba(255,255,255, 0.1);
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 0.5rem 1rem;
}

.logo p {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #fff;
  font-family: "Geist Mono";
  font-weight: 400;
  line-height: 1.35;
}

.menu-toggle {
  position: relative;
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
}

.menu-toggle p{
  position: absolute;
  transform-origin: top left;
  will-change: transform, opacity;
} 

.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100svh; 
  background-color: #0e101f;
  /* background-color: #242321bd; */
  z-index: 1; 
}

.menu-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transform-origin: left bottom;
  will-change: transform, opacity;
}

.menu-items {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  gap: 2.5em;
}

.col-lg {
  flex: 3;
}

.col-sm {
  flex: 2;
}

.menu-items .col-lg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-preview-img {
  position: relative;
  width: 45%;
  height: 100%;
  overflow: hidden;
}

.menu-preview-img img {
  position: absolute;
  will-change: transform, opacity;
}

.menu-items .col-sm {
  padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.menu-links, 
.menu-socials {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.link, .social {
  padding-bottom: 6px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.link a, 
.social a{
  display: inline-block;
  will-change: transform;
  transition: color 0.5s;
}

.link a {
  font-size: 3.5rem;
  letter-spacing: -0.02rem;
}

.social a {
  font-size: 1.5rem;
  color: #f5cece;
}

.social a:hover {
  color: #fff;
}

.link a::after,
.social a::after {
  position:absolute;
  content: " ";
  top: 102.5%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

.link a:hover::after,
.social a:hover::after{
  transform: scaleX(1);
  transform-origin: right;
} 

.menu-toggle p#menu-close {
  opacity: 0;
  transform: translateX(-5px) translateY(10px) rotate(5deg);
}

.link a,
.social a{
  transform: translateY(120%);
  opacity: 0.25;
}

.menu-content {
  transform: translateX(-100px) translateY(-100px) scale(1.5) rotate(-15deg);
  opacity: 0;
}

.menu-overlay {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

/* ----------------------------------
   MAIN CONTENT
---------------------------------- */
.header {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 2.5em;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.hero-copy{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

}

/* ----------------------------------
   VIEW PROJECT BUTTON
---------------------------------- */
.cta {
  position: absolute;
  left: 50%;
  bottom: 3em;
  transform: translateX(-50%) scale(0); 
  width: 20%;
  height: 60px;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  border-radius: 4rem;
  will-change: transform;
}

.cta-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cta-label p {
  color: #000;
}

.cta-icon {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #303030;
  border-radius: 60px;
  transform: scale(0);
  will-change: transform;
}



/* ------------------------------------------
   STYLING BUTTON AND TEXT IN HEADER DIV
--------------------------------------------- */

.line, 
.cta-label, 
.word {
  clip-path: polygon(0% 0%, 110% 0%, 110% 110%, 0% 110%);
}

.line h1, 
.line p, 
.cta-label p {
  position: relative;
  transform: translateY(120%);
  will-change: transform;
}

.line p { 
  padding-top: 12px;
}

/* ----------------------------------
   FOOTER
---------------------------------- */

footer {  
  position: absolute;     
  bottom: 1rem;     
  left: 3rem;     
  font-size: 0.8rem;     
  color: #999; 
}

/* ----------------------------------
   RESPONSIVE
---------------------------------- */
@media (max-width: 1450px) {
  h1 { font-size: 2.5rem; }
  .cta { width: 30%; left: 45%; }
}

@media (max-width: 1000px) {
  .cta { width: 30%; left: 50%; }
  .menu-items .col-lg { display: none;}
  .link a::after,
  .social a::after { display: none;}
}


@media (max-width: 600px) {
  .cta { width: 70%; left: 45%; }
}


